.l-main
  %h1.title Menu
  .message
    Selecciona los productos que desees :)
  .row
    .col-md-8
      #menu.menu
        = react_component("Category", {title: "Hello World"})

    .col-md-4
      .order
        %h4 Orden
